$mobile:375px;
$desktop:1440px;
$Dark-cyan:hsl(185, 75%, 39%);
$dark-blue:hsl(229, 23%, 23%);
$grayish-blue:hsl(227, 10%, 46%);
$Dark-gray:hsl(0, 0%, 59%);
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400&display=swap');
.attribution {
    font-size: 11px;
    text-align: center;
    a {
      color: hsl(228, 45%, 44%);
    }
  }

html,body{
  overflow: hidden;
  background-color: white;
  z-index: -2;

}
body {
  position: relative;
  max-width: 1440px;
  margin:auto ;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.6fr 4fr 4fr 0.6fr;
    grid-template-rows: 1fr 2.6fr 1fr;
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: $Dark-cyan;
    &::before{
      position: absolute;
      content: url("./images/bg-pattern-top.svg");
      top: -35rem;
      right: 150px;
    }
    &::after{
      position: absolute;
      content: url("./images/bg-pattern-bottom.svg");
      bottom: -35rem;
      left: 150px;
      z-index: -1;

    }
}
@mixin center {
        text-align: center;
}
main{
  display: grid;
  position: relative;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: 2.5fr 3fr 1.8fr;
  grid-area: 2 / 2 / 3 /4;
  @include center;
  border-radius: 1rem;
  background: url(./images/bg-pattern-card.svg);
  &::before{
    content: "";
    position: absolute;
    background-image: url("./images/image-victor.jpg");
    top: 21%;
    left: 32%;
    width:95px;
    height:95px;
    border-radius:50%;
    overflow:hidden;
    border: 5px solid white;
    background-repeat: no-repeat;
}
  .info{
    display: flex;
    flex-direction: column;
    background-color: white;
    grid-area: 2/1/3/4;
    text-align: center;
    justify-content: center;
    padding-top: 3em;
    .nom{
      font-weight: 700;
      color: $dark-blue;
    }
    span{
      font-weight: 400;
      color: $grayish-blue;
      margin-left: 5px;
    }
    .city{
      font-weight: 400;
      color: $grayish-blue;
      font-size: 13px;
      margin-top: 1em;
    }

  }  
  .numbers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 7%;
    align-items: center;
    grid-area:  3/1/3/4;
    background-color: white;
    border-radius: 0rem 0rem 1rem 1rem;
    border-top: 1px solid;
    color: $dark-blue;
    font-weight: 700;
    span{
      font-weight: 400;
      color: $grayish-blue;
      font-size: 10px; 
      letter-spacing: 2px; 
    }
  }
}
footer{
  grid-area: 4 / 1 / 5 /5;
   @include center;
}

@media (min-width: 320px) {
  main{
    &::before{
      top: 21%;
      left: 31%;
    }
  }
    
}
@media (min-width: 375px) {
  body{
    max-width: 375px;
  }
  main{
    &::before{
      top: 21%;
      left: 33%;
    }
  }
}
  @media (min-width:768px) {
    body{
    grid-template-columns: 4fr 3fr 3fr 4fr;
    grid-template-rows: 1fr 2.6fr 1fr;
    max-width: 768px;
    &::before{
      top: -35rem;
      right: 300px;
    }
    &::after{
      bottom: -35rem;
      left: 300px;
      z-index: -1;   
        }
    }
    main{
      &::before{
        top: 21%;
        left: 35%;
      }
    }
    
}
@media (min-width: 1024px) {
  body {
    position: relative;
    max-width: 1024px;
    &::before{
      top: -38rem;
      right: 480px;
    }
    &::after{
      bottom: -38rem;
      left: 480px;
      z-index: -1;
    }
  }  
  main{
    &::before{
      top: 21%;
      left: 38%;
    }
  }
}
@media (min-width: 1440px) {
  body {
    grid-template-columns: 4fr 1.5fr 1.5fr 4fr;
    grid-template-rows: 1.3fr 2.6fr 1.3fr;
    max-width: 1440px;
      &::before{
        top: -35rem;
        right: 700px;
      }
      &::after{
        bottom: -35rem;
        left: 700px;
        z-index: -1;
      }
  }
  main{
    &::before{
      top: 21%;
      left: 36%;
    }
  }
    
}




